<div class="container" >
 <div class="row">
  <div class="col">
<span style="background-color:grey; font-size:30px;">商品登録</span>
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

<table>
 <tbody>
  <tr>
   <th>
    <div class="field">
    <%= f.label "商品画像" %>
   </th>
   <td><%= f.file_field :image, accept: "image/*" %>
   </div></td>
  </tr>
  <tr>
   <th>
    <div class="field">
    <%= f.label "商品名"%>
   </th>
   <td><%= f.text_field :name, placeholder: "商品名" %>
   </div></td>
  </tr>
  <tr>
   <th>
    <div class="field">
    <%= f.label "商品説明"%>
   </th>
   <td><%= f.text_area :detail,placeholder: "ここに説明文を記述します" %>
   </div></td>
  </tr>
  <tr>
   <th>
    <div class="field">
    <%= f.label "ジャンル" %>
   </th>
   <td>
   </div></td>
  </tr>
  <tr>
   <th>
    <div class="field">
    <%= f.label "税抜き価格"%>
   </th>
   <td><%= f.text_field :price, placeholder: "1000" %>
   </div></td>
  </tr>
  <tr>
   <th>
    <div class="form-group">
    <%=f.label:"販売ステータス" %>
   </th>
   <td><%= f.radio_button :status, :true %>
    <%= f.label :status, "販売中", {value: :true, style: "display: inline-block;"} %>
    <%= f.radio_button :status, :false %>
    <%= f.label :status, "販売停止中", {value: :false, style: "display: inline-block;"} %>
   </div></td>
  </tr>
 </tbody>
</table>

 
 
<%= f.submit "新規登録", class: 'btn btn-success' %>
<% end %>
</div>
 </div>
</div>
