<table>
  <thead>
    <tr>
      <th class="header1">商品詳細</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <td>
        <%= image_tag @item.i(300,300) %>
      </td>
      <td>
        商品名:<%= @item.name %>
      </td>
      <td>
        商品説明:<%= @item.detail %>
      </td>
      <td>
        ジャンル:<%= %>
      </td>
      <td>
        税込価格(税抜価格):<%= %>
      </td>
      <td>
        販売ステータス:<%= %>
      </td>
      <td>
        <%= link_to "編集する", admin_items_edit_path(@item.id) %>
      </td>
      
    </tr>
  </tbody>

