<table>
  <thead>
    <tr>
      <th class="header1">注文履歴詳細</th>
    </tr>

  </thead>
</table>



<table>
  <thead>
    <tr>
      <th class="header1">購入者</th>
      <th class="header1">注文日</th>
      <th class="header1">配送先</th>
      <th class="header1">支払方法</th>
      <th class="header1">注文ステータス</th>
    </tr>
  </thead>

    <tbody>
      <tr>
        <td><%= link_to @order.name , public_customers_my_page_path(@order.id) %></td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.name %></td>

        <td><%= @order.payment_method %></td>
        <%= form_with model: @order, url:admin_order_path(@order.id), method: :patch do |f| %>
        <td><%= f.select :order_status, [['入金待ち',1],['入金確認',2],['製作中',3],['発送準備',4],['発送済み',5]] %>
        <%= f.submit "更新", class: 'btn btn-success' %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th class="header1">商品名</th>
      <th class="header1">単価（税込）</th>
      <th class="header1">数量</th>
      <th class="header1">小計</th>
      <th class="header1">制作ステータス</th>
    </tr>
  </thead>
    <tbody>
      <% @order.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.price %></td>
        <td><%= order.quantity %></td>

        <td><%= order.price * order.quantity %></td>

        <%= form_with model: order, url:admin_order_detail_path(order.id), method: :patch do |f| %>
        <td><%= f.select :production_status, [['着手不可',1],['制作待ち',2],['製作中',3],['制作完了',4]] %>
        <%= f.submit "更新", class: 'btn btn-success' %>
        </td>
        <% end %>


      </tr>
  </tbody>
</table>



<table>
  <thead>
    <tr>
      <th class="header1">まとまった金額</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>

        <td><%= order_item.price * order_item.quantity %></td>

        <%= form_with model: order_item, url:admin_order_detail_path(order_item.id), method: :patch do |f| %>
        <td><%= f.select :order_status, [['着手不可',1],['制作待ち',2],['製作中',3],['制作完了',4]] %>
        <%= f.submit "更新", class: 'btn btn-success' %>
        </td>
        <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>


@order.price