<div class="container">
 <div class="row">
  <div class="mx-auto" style="width: 500px;">
   <h2>ジャンル一覧・追加</h2>
    <table>
      <tbody>
        <%= form_with model:@genre, url:admin_genres_path, method: :post do |f| %>
          <tr>
            <td>
              ジャンル名
            </td>
            <td>
              <%= f.text_field :name %>
            </td>
            <td>
              <%= f.submit '新規登録' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="mt-5">
      <thead>
        <tr>
          <th class="header1">ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <th><%= genre.name %></th>
            <td></td>
            <td></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-primary" %></td>
          </tr>
         <% end %>
       </tbody>
     </table>
    </div>
   </div>