<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="m-4 text-left font-weight-bold">配送先編集</h4>
      <% if @shipping_address.errors.any? %>
        <%= @shipping_address.errors.count %>件のエラーが発生しました
        <ul>
          <% @shipping_address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
          <%= form_with model: @shipping_address, url: public_shipping_address_path, method: :patch do |f| %>
          <div class="-flex align-items-center" >
              <table style="text-align:center">
                 <tr>
                    <div class="field">
                      <th><%= f.label "郵便番号(ハイフンなし)" %></th>
                      <td><%= f.text_field :postal_code %></td>
                    </div>
                 </tr>
                 <tr>
                    <div class="field">
                      <th><%= f.label "住所" %></th>
                      <td><%= f.text_field :address %></td>
                    </div>
                 </tr>
                 <tr>
                    <div class="field">
                      <th><%= f.label "宛名" %></th>
                      <td><%= f.text_field :name %></td>
                    </div>
                 </tr>
               </table>
               </div>
               <%= f.submit "変更内容を保存", class: 'btn btn-success' %>
          <% end %>
</div>