
<div class="container">
  <div class="row py-3">
    <div class="col-md-2 ">
      <table class="table table-bordered">
        <thead>
          <tr align="center">
           <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr class="text-center">
              <td scope="row"><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
     <div class="col-md-9 offset-1 ">
     <div class="pt-5 img-fluid" style="background: url(<%= asset_path "top.jpg" %>); background-size: cover; height: 100%;">
      <div class="container col-8 py-3 mt-5 text-center" style="background-color:rgba(255,255,255,0.5);">
       <h3 style="color:black;padding-top:10px"><strong>ようこそ、ながのCAKEへ！</strong></h3><br />
        <p style=padding-bottom:10px><strong>
       このサイトは、ケーキ販売のECサイトになります。<br />
       会員でない方も商品の閲覧はできますが、<br />
       購入には会員登録が必要になります。
       </strong></p>
      </div>
     </div>
    </div>
   </div>
  <div>
  <div class="row-md-9 offset-md-3 p-3 text-start">

    <h3><strong>新着商品</strong></h3>
   </div>
  </div>

  <div class="row">
   <div class="col-md-12 d-flex">
    <% @item_new.first(4).each do |item| %>
     <%= link_to public_item_path(item) do %>
      <div class="card mx-2 " style="width: 15rem; height: 15rem;">
        <%= image_tag item.image,class: "card-img-top", size: "150x150" %>
         <div class="card-body text-center">
          <h5 class="card-title text-dark"><%= item.name %></h5>
          <p class="card-text text-dark"><%= item.price.to_s(:delimited) %>円</p>
         </div>
       </div>
      <% end %>
     <% end %>
    </div>
   </div>
      <div class="row pr-5">
        <div class="col-md-12 text-right mt-3 mr-5 pr-5">
          <%= link_to "全ての商品を見る＞", "/public/items"%>
      </div>
   </div>
  </div>
