<h4>新規会員登録</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <table>
      <tr>
         <div class="field">
           <th>名前</th>
           <td>(性)<%= f.text_field :last_name, placeholder: "令和",autofocus: true %></td>
           <td>(名)<%= f.text_field :first_name,placeholder: "道子" %></td>
      </tr>
      <tr>
         <div class="field">
           <th>フリガナ</th>
           <td>(セイ)<%= f.text_field :last_name, placeholder: "レイワ" %></td>
           <td>(メイ)<%= f.text_field :first_name, placeholder: "ミチコ" %></td>
           </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "メールアドレス"%></th>
          <td><%= f.email_field :email,placeholder: "sample@exaple.com" %></td>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "郵便番号(ハイフンなし)" %></th>
          <td><%= f.text_field :postal_code,placeholder: "00000000" %></td>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "住所" %></th>
          <td><%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0"%></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "電話番号" %></th>
          <td><%= f.text_field :phone_number,placeholder: "00000000000" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "パスワード" %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
          </th>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label "パスワード(確認用)" %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </div>
      </tr>
    </table>
    
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>


<h4>既に登録済みの方</h4>
<p><%= render "public/shared/links" %>からログインしてください。</p>