<div class="container">
        <span style="background-color:lightgrey; font-size:30px;">注文情報確認</span>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">商品名</th>
                      <th scope="col">単価(税込)</th>
                      <th scope="col">数量</th>
                      <th scope="col">小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% sum = 0 %>
                    <% @cart_items.each do |cart| %>
                      <tr>
                        <td>
                        <%= image_tag cart.item.image, size: "50x50"%> <%= cart.item.name %>
                        </td>
                        <td><%= cart.item.with_tax_price.to_s(:delimited) %>円</td>
                        <td><%= cart.quantity %></td>
                        <td><%= cart.subtotal.to_s(:delimited) %>円</td>
                        <% sum += cart.subtotal %>
                      </tr>
                    <% end %>
                  </tbody>
              </table>

              <table class="table">
                <tbody>
                  <tr>
                  <th scope="col">送料</th>
                  <td><%= @postage.to_s(:delimited) %>円</td>
                  <th scope="col">商品合計</th>
                  <td><%= sum.to_s(:delimited) %>円</td>
                  <th scope="col">請求金額</th>
                  <td><%= (sum + @postage).to_s(:delimited) %>円</td>
                  </tr>
                </tbody>
              </table>
              <table>
                   <tbody>
                      <tr>
                        <div class="field">
                          <th>支払方法</th>
                          <td><%= @order.payment_method_i18n %></td>
                        </div>
                      </tr>
                      <tr>
                        <div class="field">
                          <th>お届け先</th>
                          <td>〒<%= @order.postal_code %>　<%= @order.address %><br>
                              <%= @order.name %>
                          </td>
                        </div>
                      </tr>
                  </tbody>
              </table>

          <div ciass="row text-center">
              <!-- ユーザーには注文確定ボタンだけ表示 -->
              <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
                <%= f.hidden_field :payment_method %>
                <%= f.hidden_field :name %>
                <%= f.hidden_field :postal_code %>
                <%= f.hidden_field :address %>
                <%= f.hidden_field :postage, value: @postage %>
                <%= f.hidden_field :price, value: sum + @postage %>
                <%= f.hidden_field :customer_id, value: current_customer.id %>
                <%= f.submit "注文を確定する", class:'btn btn-primary' %>
              <% end %>
          </div>
</div>