<div class="container">

  <h4 class="text-center my-4">注文履歴一覧</h4>

   <table class="table table-bordered">
    <thead class="table-secondary text-center">
      <tr>
        <th class="header1">注文日</th>
        <th class="header1">配送先</th>
        <th class="header1">注文商品</th>
        <th class="header1">支払金額</th>
        <th class="header1">ステータス</th>
        <th class="header1">注文詳細</th>
      </tr>
    </thead>

    <tbody class="text-center" style="color:white;">
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td>〒<%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
          </td>
          <td align="left">
          <% order.order_items.each do |order_item| %>
          <%= order_item.item.name%><br>
          <% end %>
          </td>

          <td><%= order.price.to_s(:delimited) %>円</td>
          <td><%= order.order_status_i18n %></td>
          <td><%= link_to "表示する", public_order_path(order.id), class: "btn btn-outline-success"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>