<div class="container py-4">
    <h2 class="text-center my-4"><strong>注文情報入力</strong></h2>

      <div>
        <% if @order.errors.any? %>
          <%= @order.errors.count %>件のエラーが発生しました
          <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% elsif @address_new %>
        <ul>
            <% @address_new.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
        <% end %>
      </div>

       <div class="row">
         <div class="col">
        <%= form_with model: @order, url:public_comfirm_path do |f| %>
         <table class="table table-borderless" style="color:white; margin: auto;">
            <tr>
              <th style="vertical-align: middle; text-align: center;">
                <h5><strong>支払い方法</strong></h5>
              </th>
              <td>
                <%= f.radio_button :payment_method, "credit_card" %>
                <%= f.label :payment_method, "クレジットカード" %>
                  <br>
                <%= f.radio_button :payment_method, "transfer" %>
                <%= f.label :payment_method, "銀行振込" %>
              </td>
            </tr>

            <tr>
              <th style="vertical-align: middle;text-align: center;">
                <h5><strong>お届け先</strong></h5>
              </th>
              <td>
                    <%= radio_button_tag :select_address, 0, :checked => true %>
                    <%= f.label :select_address_0, "ご自身の住所" %><br>
                    〒<%= @customer.postal_code %>　<%= @customer.address %><br>
                    <%= @customer.last_name %><%= @customer.first_name %>
              </td>
            </tr>

            <tr>
              <th></th>
              <td>
                <div class="mb-3">
                  <%= radio_button_tag :select_address, 1, :checked => true %>
                  <%= f.label :select_address_1, "登録済み住所から選択" %><br>
                  <%= f.select :address_id, options_from_collection_for_select(@addresses, :id, :address_display) %> <br>
                </div>
              </td>
            </tr>

            <tr>
              <th></th>
              <td>
                <div class="mb-3">
                   <%= radio_button_tag :select_address, 2, :checked => true %>
                   <%= f.label :select_address_2, "新しいお届け先" %><br>
                   <table>
                     <tr>
                        <div class="field">
                          <th><%= f.label "郵便番号(ハイフンなし)" %></th>
                          <td><%= f.text_field :postal_code,placeholder: "0000000" %></td>
                        </div>
                     </tr>
                     <tr>
                        <div class="field">
                          <th><%= f.label "住所" %></th>
                          <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
                        </div>
                     </tr>
                     <tr>
                        <div class="field">
                          <th><%= f.label "宛名" %></th>
                          <td><%= f.text_field :name, placeholder: "令和道子"%></td>
                        </div>
                     </tr>
                   </table>
                </div>
              </td>
            </tr>
          </table>
          </div>
        </div>
          <div style="text-align:center;">
            <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
          </div>
        <% end %>
    
</div>