<div class="container">
  <h4 class="text-center my-4">注文履歴詳細</h4>
    　<div class="row">
    　   <div clas ="col-md-8">
          <h5>注文情報</h5>
          <table class="table table-bordered">
              <tbody>
                  <tr>
                    <th class="table-secondary text-center">注文日</th>
                    <td class="text-center"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                  </tr>
                  <tr>
                    <th class="table-secondary text-center">配送先</th>
                    <td class="text-center">〒<%= @order.postal_code %><br>
                      <%= @order.address %><br>
                      <%= @order.name %>
                    </td>
                  </tr>
                  <tr>
                    <th class="table-secondary text-center">支払方法</th>
                    <td class="text-center"><%= @order.payment_method_i18n %></td>
                  </tr>
                  <tr>
                    <th class="table-secondary text-center">ステータス</th>
                    <td class="text-center"><%= @order.order_status_i18n %></td>
                  </tr>
              </tbody>
          </table>
        </div>

        <div class ="col-lg-3 offset-1">
          <h5>請求情報</h5>
          <table class="table table-bordered">
            <tbody>
                <tr>
                  <th class="table-secondary text-center">商品合計</th>
                  <td class="text-center"><%= @order.price - @order.postage %>円</td>
                </tr>
                <tr>
                  <th class="table-secondary text-center">配送料</th>
                  <td class="text-center"><%= @order.postage %>円</td>
                </tr>
                <tr>
                  <th class="table-secondary text-center">ご請求額</th>
                  <td class="text-center"><%= @order.price.to_s(:delimited) %>円</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

  <h5>注文内容</h5>
  <table class="table table-bordered">
    <thead>
      <tr class="table-secondary text-center">
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
      <% @order.order_items.each do |order_item| %>
        <tr class="text-center">
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price.to_s(:delimited) %>円</td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.price * order_item.quantity %>円</td>
        </tr>
        <% end %>
    </thead>
  </table>
</div>



