<h4>ログイン</h4>
<p>会員の方はこちらからログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
<table>
  <tr>
   <div class="field">
   <th><%= f.label "メールアドレス"%></th>
   <td><%= f.email_field :email,placeholder: "sample@exaple.com" %></td>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label "パスワード" %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </div>
  </tr>
  <tr>
  <div class="actions">
    <tr></tr>
    <td><%= f.submit "ログイン" %></td>
  </div>
  </tr>
  </table>
<% end %>

<h4>登録がお済みでなグインい方</h4>
<p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
