<div class="container">
  <div class="row my-5 py-5 ">
    <div class="col-md-2 ">
      <table class="table table-bordered">
        <thead>
          <tr align="center">
           <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
              <td scope="row"><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    
   <div class="col-md-9 offset-md-1">
    <div class="d-flex flex-wrap">
       <h4><strong>商品一覧</strong></h4>
      <div>(全<%= @items.count %>件)</div>
       </div>
       <div class="d-flex flex-wrap">
       <% @items.each do |item| %>
       <div style="margin-right: 10px;">
        <% if item.status == true %>
          <%= link_to public_item_path(item) do %>
           <%= image_tag item.image, size: "150x150" %>
          <% end %>
           <p><%= link_to item.name, public_item_path(item),class: "text-dark font-weight-bold"%></p>
           <p class="font-weight-bold">￥<%= item.price %></p>
        <% end %>
       </div>
     <% end %>
    </div>
    <div style="text-align: center;">
  <%= paginate @items %>
   </div>
   </div>
  </div>
 </div>
