<div class="container">
  <div class="row my-5 py-5" style="color:white;">
    <div class="col-md-2 ">
      <table class="table table-bordered" style="color:white; text-align:center;">
        <thead>
          <tr align="center">
           <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
              <td scope="row"><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="d-flex flex-wrap">
        <h3><strong>商品一覧</strong></h3>
        <div>(全<%= @items.count %>件)</div>
      </div>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
        <div style="margin-right: 10px;">
          <%= link_to public_item_path(item) do %>
           <%= image_tag item.image, size: "150x150" %>
          <% end %>
          <p><strong><%= link_to item.name, public_item_path(item), class: "text-white font-weight-bold"%></strong></p>
          <p><strong>¥<%= item.price.to_s(:delimited)  %></strong></p>
        </div>
        <% end %>
      </div>
        <%= paginate @items %>
    </div>
  </div>
</div>