<table>

  <tbody>
    <tr>
      <th>
        <%= image_tag @item.image, size: "300x300" %>
      </th>

      <th>
        商品名:<%= @item.name %>
      </th>
     </tr>
     <tr>
      <th>
        商品説明:<%= @item.detail %>
      </th>
     </tr>
     <tr>
      <th>
        税込価格(税抜価格): ¥<%=@item.with_tax_price %>(税込)
      </th>
     </tr>
     <%= form_with model: @cart_item, url:public_cart_items_path, method: :post do |f| %>
    <tr>
      <th>
        <%= f.select :quantity, *[1..10] , inclide_blank: '個数選択' %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
      </th>
    </tr>

     <tr>
      <th>
        <p><%= f.submit "カートに入れる", class: 'btn btn-success' %></p>
      </th>
     </tr>
     <% end %>

  </tbody>
 </table>
