<div class="container" style="color:white;">
 <div class="col mt-5 pb-0">
  <div style="text-align: center;">
   <%= flash[:alert]  %>
  </div>
 </div>
  <div class="row my-2 py-5 ">
    <div class="col-md-2 ">
      <table class="table table-bordered" style="color:white;">
        <thead>
          <tr align="center">
           <th scope="col">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
              <td scope="row"><%= genre.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


   <div class="col-md-8 offset-md-1">
    <div class="d-flex flex-row">
     <div style="margin-right: 10px;"><%= image_tag @item.image, size: "300x300" %></div>
     <table>
      <tbody>
      <tr>
       <th><h3><strong><%= @item.name %></strong></h3></th>
      </tr>
      <tr>
       <th><%= @item.detail %></th>
      </tr>
      <tr>
       <th><strong>¥<%=@item.with_tax_price.to_s(:delimited) %>(税込)</strong></th>
      </tr>
     <tr>
       <td>
         <div class="d-flex flex-row">
           <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
            <%= f.select :quantity, [['1個',1], ['2個',2], ['3個',3], ['4個',4], ['5個',5], ['6個',6], ['7個',7], ['8個',8], ['9個',9], ['10個',10]] , include_blank: "個数選択" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class: 'btn btn-success' %>
           <% end %>
         </div>
        </td>
       </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</div>